.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.grid {
  display: grid;
  gap: var(--space-4);

  @include from(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include from(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.action {
  display: flex;
  justify-content: flex-end;
}

.rowActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2);
}
